<!DOCTYPE html>
<html>
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>monkey</title>

		<link rel="stylesheet" href="/static/style.css" />
		<link rel="stylesheet" href="/static/tailwind.css" />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
			
			* {
    			font-family: 'JetBrains Mono', monospace;
    			box-sizing: border-box;
			}

			html {
				width: 100%;
			}

			:root {
				--color: #e4e4e4;
				--background-color: #131313;
			}

			body {
				color: var(--color);
				background-color: var(--background-color);
			}

		</style>
	</head>

	<body>
		{{ .Body }}
	</body>
</html>